# Android / Gradle
*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore

# Native build
CMakeCache.txt
CMakeFiles/
cmake-build-*/
build-android/

# Misc
.DS_Store
*.log
