[submodule "rpcs3"]
	path = rpcs3
	url = https://github.com/RPCS3/rpcs3.git
	branch = master
	shallow = true
	ignore = dirty
[submodule "native/3rdparty/libadrenotools"]
	path = native/3rdparty/libadrenotools
	url = https://github.com/bylaws/libadrenotools
